.trip-image {
  width: 400px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: inherit;
}

.trip-left {
  width: 350px;
}

.card-trip {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 0 2px rgb(0, 0, 0 / 0.5);
  position: relative;
  border-radius: 5px;
}

.mini-avatar {
  width: 60px;
  border-radius: 50%;
  border: white 2px solid;
  position: absolute;
  bottom: 67px;
  right: 20px;
}

.trip-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 15px 20px;
}

.trip-left p {
  font-size: 13px;
  margin: 0;
}

.trip-left h2 {
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: 'Inter';
}

.trip-right {
  display: flex;
  align-items: flex-end;
  font-family: 'Inter';
  font-weight: 600;
}
