<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
    <%= review.rating %> <%= review.description %>
    </li>
  <% end %>
</ul>
